server {
    {% if dehydrated|cert_exists(demo.domain) %}
    listen 0.0.0.0:443 ssl http2;
    listen [::]:443 ssl http2;
    {% else %}
    listen 0.0.0.0:80;
    listen [::]:80;
    {% endif %}

    server_name {{ demo.domain }};

    ############################################################################
    # General
    ############################################################################
    root {{ demo.prefix.current_release }};
    index index.html index.php;
    charset utf-8;

    ############################################################################
    # Default location
    ############################################################################
    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    ############################################################################
    # Named locations, interpreters
    ############################################################################
    location ~ \.php$ {
        try_files $uri =404;
        include {{ nginx.prefix.config }}/fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param X-Real-IP $remote_addr;
        fastcgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
        fastcgi_pass unix:/var/run/php-fpm/php-fpm.socket;
    }

    {% if dehydrated|cert_exists(demo.domain) %}
    ############################################################################
    # HTTPS
    ############################################################################
    ssl_certificate {{ dehydrated|cert_fullchain(demo.domain) }};
    ssl_certificate_key {{ dehydrated|cert_privkey(demo.domain) }};
    include {{ nginx.prefix.config }}/https_params.conf;
    {% endif %}
}
