[submodule "roles/dehydrated"]
	path = roles/dehydrated
	url = ssh://git@github.com:punktDe/ansible-proserver-dehydrated.git
[submodule "roles/mariadb"]
	path = roles/mariadb
	url = ssh://git@github.com:punktDe/ansible-proserver-mariadb.git
[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = ssh://git@github.com:punktDe/ansible-proserver-elasticsearch.git
[submodule "roles/mail"]
	path = roles/mail
	url = ssh://git@github.com:punktDe/ansible-proserver-mail.git
[submodule "roles/redis"]
	path = roles/redis
	url = ssh://git@github.com:punktDe/ansible-proserver-redis.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = ssh://git@github.com:punktDe/ansible-proserver-nginx.git
[submodule "roles/mailhog"]
	path = roles/mailhog
	url = ssh://git@github.com:punktDe/ansible-proserver-mailhog.git
[submodule "roles/php"]
	path = roles/php
	url = ssh://git@github.com:punktDe/ansible-proserver-php.git
[submodule "roles/oauth2_proxy"]
	path = roles/oauth2_proxy
	url = ssh://git@github.com:punktDe/ansible-proserver-oauth2-proxy.git
[submodule "roles/supervisord"]
	path = roles/supervisord
	url = ssh://git@github.com:punktDe/ansible-proserver-supervisord.git
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = ssh://git@github.com:punktDe/ansible-proserver-postgresql.git
[submodule "roles/apache"]
	path = roles/apache
	url = ssh://git@github.com:punktDe/ansible-proserver-apache
[submodule "roles/system"]
	path = roles/system
	url = ssh://git@github.com:punktDe/ansible-proserver-system
