*.pyc
.idea
/*.retry
/.vagrant
/.fact_cache
/venv/
inventory_dev.ini
host_vars/vpro*
roles/apache
roles/dehydrated
roles/elasticsearch
roles/mail
roles/mailhog
roles/mariadb
roles/nginx
roles/oauth2_proxy
roles/php
roles/postgresql
roles/redis
roles/solr
roles/supervisord
roles/system
vault_password_file
