---
################################################################################
# Operating system                                                             #
################################################################################
- name: System
  hosts: system
  become: yes
  roles:
    - system

- name: Mail
  hosts: mail
  become: yes
  roles:
    - mail

################################################################################
# Databases                                                                    #
################################################################################
- name: Redis
  hosts: redis
  become: yes
  roles:
    - redis

- name: PostgreSQL
  hosts: postgresql
  become: yes
  roles:
    - postgresql

- name: MariaDB
  hosts: mariadb
  become: yes
  roles:
    - mariadb

- name: Elasticsearch
  hosts: elasticsearch
  become: yes
  roles:
    - elasticsearch

################################################################################
# Applications                                                                 #
################################################################################
- name: MailHog
  hosts: mailhog
  become: yes
  tags:
    - mailhog
  roles:
    - mailhog

- name: TYPO3
  hosts: 
    - typo3
    - typo3_test
  become: yes
  tags:
    - typo3
  roles:
    - typo3

- name: Neos
  hosts: 
    - neos
    - neos_test
  become: yes
  tags:
    - neos
  roles:
    - neos
