---
################################################################################
# Operating system                                                             #
################################################################################
- name: Message of the Day
  hosts: motd
  become: yes
  roles:
    - motd

- name: Mail
  hosts: mail
  become: yes
  roles:
    - mail

################################################################################
# Databases                                                                    #
################################################################################
- name: Redis
  hosts: redis
  become: yes
  roles:
    - redis

- name: PostgreSQL
  hosts: postgresql
  become: yes
  roles:
    - postgresql

- name: MariaDB
  hosts: mariadb
  become: yes
  roles:
    - mariadb

- name: Elasticsearch
  hosts: elasticsearch
  become: yes
  roles:
    - elasticsearch

################################################################################
# Applications                                                                 #
################################################################################
- name: MailHog
  hosts: mailhog
  become: yes
  roles:
    - mailhog

- name: Neos
  hosts: neos
  become: yes
  roles:
    - neos

- name: TYPO3
  hosts: typo3
  become: yes
  roles:
    - typo3
