DB_DRIVER={{ 'pdo_pgsql' if (((postgresql|default({}))|default({})).databases|default).neos|default(none) else 'pdo_mysql' }}
DB_NAME={{ postgresql.databases.neos.name if (((postgresql|default({}))|default({})).databases|default).neos|default(none) else mariadb.databases.neos.name }}
DB_USER={{ postgresql.users.neos.username if (((postgresql|default({}))|default({})).databases|default).neos|default(none) else mariadb.users.neos.username }}
DB_PASS={{ postgresql.users.neos.password if (((postgresql|default({}))|default({})).databases|default).neos|default(none) else mariadb.users.neos.password }}
DB_HOST=localhost
DB_CHARSET={{ 'utf8' if (((postgresql|default({}))|default({})).databases|default).neos|default(none) else 'utf8mb4' }}
MAILER_URL={{ 'smtp://localhost:1025' if inventory_hostname in groups.mailhog else 'smtp://localhost' }}
REDIRECT_FLOW_CONTEXT={{ neos.default_context }}
SITE_DOMAIN={{ neos.domain }}
