DB_DRIVER={{ 'pdo_pgsql' if (((postgresql|default({}))|default({})).databases|default).typo3|default(none) else 'pdo_mysql' }}
DB_NAME={{ postgresql.databases.typo3.name if (((postgresql|default({}))|default({})).databases|default).typo3|default(none) else mariadb.databases.typo3.name }}
DB_USER={{ postgresql.users.typo3.username if (((postgresql|default({}))|default({})).databases|default).typo3|default(none) else mariadb.users.typo3.username }}
DB_PASS={{ postgresql.users.typo3.password if (((postgresql|default({}))|default({})).databases|default).typo3|default(none) else mariadb.users.typo3.password }}
DB_HOST=localhost
DB_CHARSET={{ 'utf8' if (((postgresql|default({}))|default({})).databases|default).typo3|default(none) else 'utf8mb4' }}
MAILER_URL={{ 'smtp://localhost:1025' if inventory_hostname in groups.mailhog else 'smtp://localhost' }}
TYPO3_CONTEXT={{ typo3.context }}
SITE_DOMAIN={{ typo3.domain }}
